.main2 {
  height: 200px;
  padding: 20px;
  background-color: rgba(130, 236, 192, 0.699);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main1 {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(236, 155, 130, 0.699);
  margin: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  /* width: 400px; */
}
.main2 p {
  font-size: 30px;
  font-weight: 400;
}
.main1 p {
  font-size: 30px;
}
@media all and (max-width: 850px) {
  .main1 {
    /* width: 100%; */
  }
}
